<h1 class="site-title">{{ title }}</h1>

<div id="map"></div>
<!-- <iframe id="map" width="100%" height="520" frameborder="0" src="https://kirkpettinga.cartodb.com/viz/6ea70e02-6d6c-11e5-a49e-0e5db1731f59/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> -->

<p class="credits">Created by <a href="https://medium.com/@kirkpettinga" target="_blank">Kirk Pettinga</a> for <a href="https://medium.com/ghostboat" target="_blank">#GhostBoat</a></p>